html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    text-align: center;
}

.underline {
    text-decoration: blue underline;
}

.blue-text {
    color: blue;
}

#change-num-squares:hover {
    cursor: pointer;
}

.row-container, .container, .container-container {
    display: flex;
}
.container-container{
    justify-content: center;
    /* border: 1px solid blue; */
}
.container {
    flex-direction: column;
    border: 1px solid blue;
    margin: 0 auto;
}

.single-square {
    background-color: var(--default-color);
    border: 1px dotted red;
    height: calc(var(--singleSquareDimension) * 1px);
    width: calc(var(--singleSquareDimension) * 1px);
}

#clear-grid-button{
    margin-top: 10px;
}